.media {
  margin: 0 0 8% 0;
}

.about_name {
  text-align: center;
  font-size: 50px; 
  color: black;
}

.about_line {
  border-bottom: solid;
  border-width: thin;
  border-color: black;
  width: 10%;
  margin: auto;
}

.bio {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  /* margin: 5% auto;
  width: 50%;
  align-items: center; */
}

.bio_pic {
  background-color: black;
}

.profile_pic{
  border-radius: 10px;
  width: 40%;
  box-shadow: 0 0 7px -1px;
  height: 30%;
  object-fit: cover;
  transition: transform 0.2s; 
  opacity: 0.9;
  align-self: center;
}

.bio_text {
  background-color: #ecddde;
}

.bio_description {
  text-align: center;
  margin: 50px;
  font-size: 20px;
}

.group_pic{
  width: 35%;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7%;
}

@media only screen and (max-width: 450px) {
  .profile_pic {
    width: 76%;
  }

  .bio {
    display: flex;
    flex-direction: column;
  }

  .bio_description {
    font-size: 18px;
  }
}
