.name_description {
  height: 40vh;
  background-color: #ecddde;
  padding: 10% 0;
}

.name {
  font-size: 30px;
  text-align: center;
  font-family: 'Sriracha', cursive;
}

@media only screen and (max-width: 450px) {
  .name {
    font-size: 55px; 
    margin-top: 90px; 
  }

  .description {
    font-size: 17px;
  }
} 


