.contact {
  padding-top: 1rem;
  text-align: center;
  font-size: 30px;
  background-color: #ecddde;
  margin-top: -5%;
}

.contact_me{
  margin-bottom: 20px;
}

.icons {
  height:50px;
  width: 50px;
  padding-top: 60px;
  padding: 10px;
}
