.projects_title{
  text-align: center;
  font-size: 24px;
}

.title {
  padding: 20px;
  text-align: center;
  font-size: 40px;
  color: white;
  font-weight: bold;
  font-family: 'Sriracha', cursive;
}

.all_projects {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.hangry_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  border-radius: 10px;
  cursor: pointer;
  opacity: 0.8;
}

.happydog_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0.8;
}

img:hover {
  opacity: 1.0;
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 24px;
  }
}


